.button-container {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}
.button-link {
    width: 150px; /* Set the width of the button */
    height: 100px; /* Set the height of the button */
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    text-align: center; /* Center-align text */
    padding: 10px; /* Add padding for better text alignment */
    background-color: transparent;
    border: 1px solid; /* Add a border */
    color: #ccc; /* Set the font color to match the border */
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap; /* Allow multi-line text */
    word-wrap: break-word; /* Break words if necessary */
    font-size: large; /* Set the font size */
}
.button-link:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Optional: Add a hover effect */
}
.project-path {
    padding: 5px; /* Add padding for better text alignment */
    font-size: small; /* Set the font size */
    color: #999; /* Set the font color */
}
.small-button {
    padding-top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right; /* Aligns the button to the right */
}
/* Default button state */
.glow-effect-btn {
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
}

/* On hover: subtle red glowing border */
.glow-effect-btn:hover {
    border-color: #ff4444; /* A more subtle red color for the border */
    box-shadow: 0 0 4px #ff4444, 0 0 8px #ff4444; /* Less intense, subtler glow effect */
}

/* Optional: Pulsating subtle glow animation */
@keyframes glow-animation {
    from {
        box-shadow: 0 0 6px #ff4444, 0 0 10px #ff4444;
    }
    to {
        box-shadow: 0 0 10px #ff4444, 0 0 14px #ff4444;
    }
}
