<!DOCTYPE html>
<html>
<head>
    {{styles}}
</head>
<body>
    <h1>Recent Projects</h1>
        {{projects}}
    <script>
        const vscode = acquireVsCodeApi();
        function openProject(project, newWindow = false) {
            vscode.postMessage({
                command: 'openProject',
                project: project,
                newWindow: newWindow
            });
        }

        function deleteProject(project) {
            const projectDiv = document.getElementById(project);
            if (projectDiv) {
                projectDiv.remove();
            }
            vscode.postMessage({
                command: 'deleteProject',
                project: project
            });
        }
    </script>
</body>
</html>
