<!DOCTYPE html>
<html>
<head>
    {{styles}}
</head>
<body>
    <h1>Recent Projects</h1>
    <div style="display: flex; flex-wrap: wrap;">
        {{projects}}
    </div>
    <script>
        const vscode = acquireVsCodeApi();
        function openProject(project) {
            vscode.postMessage({
                command: 'openProject',
                project: project
            });
        }

        function deleteProject(project) {
            const projectDiv = document.getElementById(project);
            if (projectDiv) {
                projectDiv.remove();
            }
            vscode.postMessage({
                command: 'deleteProject',
                project: project
            });
        }
    </script>
</body>
</html>
